---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/photography/Hero.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Pavel Sheludko | Photographer" description="Welcome to my photography portfolio" logourl="/favicon-photograpger.ico">
	<main class="w-full">
        <Hero />
	</main>
	<Footer />
</Layout>