---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import About from '../components/About.astro';
import Works from '../components/Works.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="CodeCat6128 | Pavel Sheludko" description="Welcome to my portfolio website" logourl="/favicon.ico">
	<Header />
	<main class="w-full">
		<Hero />
		<Skills />
		<!-- <Works /> -->
		<About />
		<Contact />
	</main>
	<Footer />
</Layout>