---
interface Props {
	title: string;
    viewbox: string;
}

const { title, viewbox } = Astro.props;
---

<div class="flex flex-col justify-center items-center gap-8 border-[3px] h-min px-6 py-6 md:py-9 bg-black fill-white rounded-md w-full">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox={viewbox} class="h-14 w-auto"><slot /></svg>
    <h5 class="w-full text-center text-white font-bold text-xl leading-6">{title}</h5>
</div>