---
interface Props {
    index: string;
	title: string;
    link: string;
    imageurl: string;
}

const { index, title, link, imageurl } = Astro.props;
---

<div class="flex flex-col nm:grid grid-cols-2 auto-cols-fr gap-6 nm:gap-16 lg:gap-24 w-full">
    <div class="flex flex-col justify-center items-start text-left gap-y-8 md:gap-y-7 order-2 nm:order-none">
        <div class="flex flex-col sm:flex-row-reverse nm:flex-col w-full md:justify-center justify-between items-start text-left gap-y-8 md:gap-y-7">
            <h3 class="text-white font-extrabold text-2xl md:text-5xl leading-tight">{index}</h3>
            <h4 class="text-white font-bold text-xl md:text-2xl">{title}</h4>
        </div>
        <span class="text-zinc-500 font-medium text-base"><slot/></span>
        <a href={link} target="_blank" class="text-white fill-white hover:text-zinc-300 hover:fill-zinc-300 duration-200 ease-in-out"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg></a>
    </div>
    <img src={imageurl} class="w-full h-full max-h-72 nm:h-auto">
</div>