<section class="w-full py-[60px]" id="about">
    <div class="min-w-[256px] nm:container nm:mx-auto w-full px-4 md:px-8 py-5 md:py-6 grid grid-rows-[repeat(0, auto))] lg:grid-cols-5 xl:grid-cols-2 gap-10 nm:gap-20">
        <img src="/banner-about.svg" alt="Banner" class="w-full h-auto max-w-[400px] nm:max-w-[570px] mx-auto md:mx-0 block nm:hidden lg:block lg:col-span-2 xl:col-span-1">
        <div class="flex flex-col gap-2 nm:gap-4 md:gap-6 xl:gap-8 2xl:gap-10 text-start items-start lg:col-span-3 xl:col-span-1">
            <h2 class="text-black font-normal text-4xl lg:text-5xl leading-snug lg:my-4 2xl:my-5 text-center lg:text-left w-full">About&nbsp;<b class="font-extrabold">Me</b></h2>
            <div class="grid grid-rows-[repeat(0, auto))] gap-6">
                <p class="text-zinc-500 font-normal text-sm nm:text-base text-center lg:text-left">
                    I am a versatile developer with experience in game development, front-end development, and photography. Over the past two years, I have honed my skills in game development using Unity and Unreal Engine, primarily programming in C#. My front-end development expertise spans two years as well, during which I have worked with a variety of frameworks including Tailwind, Bootstrap, Astro, Node.js, and React.js. I began learning front-end development at the age of 10 and am proficient in JavaScript, TypeScript, and PHP.
                </p>
                <p class="text-zinc-500 font-normal text-sm nm:text-base text-center lg:text-left">
                    In addition to my technical skills, I am also a passionate photographer with one year of experience capturing events, weddings, portraits, as well as architectural and nature photography. My background includes project management and team leadership, and I am always eager to learn new frameworks and programming languages to expand my skill set. Combining my creative and technical abilities, I strive to bring innovation and excellence to every project I undertake.
                </p>
            </div>
        </div>
    </div>
</section>