<section class="w-full py-[60px]" id="section?home">
    <div class="min-w-[256px] nm:container nm:mx-auto w-full px-4 md:px-8 py-5 md:py-6 grid grid-cols-2 auto-cols-fr gap-20">
        <img src="/banner-about.svg" alt="Banner" class="w-full h-auto max-w-[570px]">
        <div class="flex flex-col gap-10 text-start items-start">
            <h2 class="text-black font-normal text-4xl lg:text-5xl leading-snug">About&nbsp;<b class="font-extrabold">Me</b></h2>
            <p class="text-zinc-500 font-normal text-base">
                I'm a passionate, self-proclaimed designer who specializes in full stack development (React.js & Node.js). I am very enthusiastic about bringing the technical and visual aspects of digital products to life. User experience, pixel perfect design, and writing clear, readable, highly performant code matters to me.
                <br><br>
                I began my journey as a web developer in 2015, and since then, I've continued to grow and evolve as a developer, taking on new challenges and learning the latest technologies along the way. Now, in my early thirties, 7 years after starting my web development journey, I'm building cutting-edge web applications using modern technologies such as Next.js, TypeScript, Nestjs, Tailwindcss, Supabase and much more.
                <br><br>
                When I'm not in full-on developer mode, you can find me hovering around on twitter or on indie hacker, witnessing the journey of early startups or enjoying some free time. You can follow me on Twitter where I share tech-related bites and build in public, or you can follow me on GitHub.
            </p>
        </div>
    </div>
</section>