---
import ExperienceBlock from '../elements/Experience.astro';
import ExperienceDarkBlock from '../elements/ExperienceDark.astro';
---

<section class="w-full bg-black py-[60px]" id="experience">
    <div class="min-w-[256px] nm:container nm:mx-auto w-full gap-2 lg:gap-5 px-4 md:px-8 py-5 md:py-6 flex flex-col text-center items-center justify-center">
        <h1 class="text-white font-normal text-4xl lg:text-5xl leading-snug my-5">My&nbsp;<b class="font-extrabold">Experience</b></h1>
        <div class="flex flex-col my-4 lg:my-10 gap-y-5 nm:gap-y-6 lg:gap-y-8 w-full">
            <ExperienceBlock 
            title="Lead Software Engineer at Google"
            description="As a Senior Software Engineer at Google, I played a pivotal role in developing innovative solutions for Google's core search algorithms. Collaborating with a dynamic team of engineers, I contributed to the enhancement of search accuracy and efficiency, optimizing user experiences for millions of users worldwide." 
            time="Nov 2019 - Present" />
            <ExperienceDarkBlock 
            title="Lead Software Engineer at Google"
            description="As a Senior Software Engineer at Google, I played a pivotal role in developing innovative solutions for Google's core search algorithms. Collaborating with a dynamic team of engineers, I contributed to the enhancement of search accuracy and efficiency, optimizing user experiences for millions of users worldwide." 
            time="Nov 2019 - Present" />
            <ExperienceBlock 
            title="Lead Software Engineer at Google"
            description="As a Senior Software Engineer at Google, I played a pivotal role in developing innovative solutions for Google's core search algorithms. Collaborating with a dynamic team of engineers, I contributed to the enhancement of search accuracy and efficiency, optimizing user experiences for millions of users worldwide." 
            time="Nov 2019 - Present" />
        </div>
    </div>
</section>