---
import ExperienceBlock from '../elements/Experience.astro';
import ExperienceDarkBlock from '../elements/ExperienceDark.astro';
---

<section class="w-full bg-black py-[60px]" id="experience">
    <div class="min-w-[256px] nm:container nm:mx-auto w-full gap-2 lg:gap-5 px-4 md:px-8 py-5 md:py-6 flex flex-col text-center items-center justify-center">
        <h1 class="text-white font-normal text-4xl lg:text-5xl leading-snug my-5">My&nbsp;<b class="font-extrabold">Experience</b></h1>
        <div class="flex flex-col my-4 lg:my-10 gap-y-5 nm:gap-y-6 lg:gap-y-8 w-full">
            <ExperienceBlock 
            title="Ravildsgn.com - Frontend Developer"
            description="As a Front-End Developer on a 5-week project, I built a high-performance website using Astro and Bootstrap 4, closely following a Figma design. I collaborated with the designer and client to ensure alignment and timely delivery, while also handling some back-end tasks. Using GitHub for version control, I streamlined development and maintained code quality under tight deadlines." 
            time="Dec 2023 - Jan 2024" />
            <ExperienceDarkBlock 
            title="Infinity Rocket Smart Technologies - Frontend Developer"
            description="As a Front-End Developer, I was responsible for rebuilding the user interface of Market Making tools for decentralized exchanges. I collaborated closely with back-end developers and designers to ensure seamless integration and a cohesive user experience. Using Figma and Tailwind, I implemented new UI components and optimized layouts for performance. I also maintained version control through Git and GitHub, contributing to efficient project management and smooth delivery." 
            time="Aug 2023 - Apr 2023" />
            <ExperienceBlock 
            title="Infinity Rocket Smart Technologies - Frontend Developer"
            description="As a Front-End Developer on a 2-month project, I led the redesign of the user interface for market-making tools used in decentralized exchanges (DEX). Using Bootstrap 4, I optimized layouts for performance and responsiveness across all devices. I worked closely with back-end developers to ensure smooth integration and seamless data flow, while also identifying and improving key UI elements to enhance usability and aesthetics." 
            time="Jan 2023 - Apr 2023" />
            <ExperienceDarkBlock 
            title="T7T Labs - Frontend Developer for product MeetNubi"
            description="As a Front-End Developer for the product MeetNubi, I was responsible for building a modern, responsive website using HTML5, CSS3, and JavaScript. I collaborated closely with the design and client teams to ensure a seamless user experience and implemented visual enhancements using open-source solutions. My work also included performance optimization and version control through GitHub to maintain a clean and efficient development process." 
            time="Apr 2022 - Jun 2022" />
            <ExperienceBlock 
            title="T7T Labs - Frontend Developer for T7T Labs"
            description="As a Front-End Developer at T7T Labs, I was responsible for designing and implementing a responsive website using HTML5, CSS3, and JavaScript without relying on frameworks. Over the six-week project, I worked closely with the client to deliver fast, iterative updates based on feedback. This role marked my first professional experience in web development and helped me build a strong foundation in front-end technologies." 
            time="Jun 2022 - Jul 2022" />
        </div>
    </div>
</section>