<footer class="bg-black w-full">
	<div class="nm:container nm:mx-auto px-4 md:px-8 py-5 md:py-6 flex flex-col nm:flex-row justify-between items-center gap-4 md:gap-6">
		<span class="text-white font-semibold text-lg flex flex-row">Developed by&nbsp;<p class="underline decoration-2">@CodeCat6128</p></span>
		<span class="text-white font-semibold text-lg">2023 - 2024</span>
	</div>
</footer>