<header class="bg-white min-w-[256px] fixed top-0 left-0 right-0 inset-x-0 h-fit z-10">
    <div class="min-w-[256px] nm:container nm:mx-auto px-4 md:px-8 py-4 md:py-6 flex flex-row justify-between items-center">
        <img src="/logo.webp" alt="logo" class="h-10 nm:h-11 md:h-12 lg:h-14 w-10 nm:w-11 md:w-12 lg:w-14 rounded-full">
        <div class="hidden nm:flex flex-row gap-8 h-min">
            <a href="#experience" class="text-black text-base md:text-xl md:leading-6 underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out">Experience</a>
            <!-- <a href="#works" class="text-black text-base md:text-xl md:leading-6 underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out">Works</a> -->
            <a href="#about" class="text-black text-base md:text-xl md:leading-6 underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out">About Me</a>
            <a href="#contact" class="text-black text-base md:text-xl md:leading-6 underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out">Contact Me</a>
        </div>
        <a href="/resources/cv.pdf" target="_blank" class="hidden lg:flex flex-row items-center border-[3px] border-black h-min px-5 py-4 hover:text-black bg-black hover:bg-white text-white text-xl leading-6 gap-1 font-semibold rounded-md duration-200 ease-in-out">
            Resume
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>  
        </a>
        <a href="/resources/cv.pdf" target="_blank" class="hidden nm:flex lg:hidden border-[3px] border-black h-min px-[16px] py-[14px] hover:text-black bg-black hover:bg-white text-white text-lg md:text-xl leading-5 md:leading-6 font-semibold rounded-md duration-200 ease-in-out">
            CV
        </a>
        <div class="flex justify-center items-center nm:hidden p-1 text-black cursor-pointer" id="nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-9 h-9" id="nav-icon-open">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-9 h-9 hidden" id="nav-icon-close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
    </div>
    <div class="min-w-[256px] absolute h-screen top-[76px] left-0 right-0 bg-white z-50 flex nm:hidden hidden flex-col justify-start gap-5 px-5 pt-5 pb-[96px]" id="nav-menu">
        <div class="nm:container nm:mx-auto gap-3 flex flex-col w-full">
            <a href="#experience" class="text-black text-2xl underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out" id="nav-link">Experience</a>
            <!-- <a href="#works" class="text-black text-2xl underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out" id="nav-link">Works</a> -->
            <a href="#about" class="text-black text-2xl underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out" id="nav-link">About Me</a>
            <a href="#contact" class="text-black text-2xl underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out" id="nav-link">Contact Me</a>
            <div class="w-full h-[2px] bg-black my-4" />
            <a href="/resources/cv.pdf" target="_blank" class="text-black text-2xl underline decoration-2 hover:decoration-black decoration-white font-semibold duration-200 ease-in-out" id="nav-link">Resume</a>
        </div>
    </div>
</header>
<script src="../scripts/header.js">