<header class="bg-blue-50 shadow-default min-w-[270px] w-screen fixed top-0 inset-x-0 h-fit -z-100">
    <div class="min-w-[270px] nm:container nm:mx-auto px-5 py-3 nm:py-5 flex flex-row justify-between items-center">
        <img src="/logo.jpg" alt="logo" class="h-7 w-7 rounded-full shadow-s">
        <div class="hidden nm:flex flex-row gap-4 h-min">
            <a href="#" class="shadow-none hover:shadow-s px-4 md:px-5 py-2 md:py-3 text-gray-900 text-lg font-bold rounded-lg duration-200 ease-in-out">Home</a>
            <a href="#" class="shadow-none hover:shadow-s px-4 md:px-5 py-2 md:py-3 text-gray-900 text-lg font-bold rounded-lg duration-200 ease-in-out">About</a>
            <a href="#" class="shadow-none hover:shadow-s px-4 md:px-5 py-2 md:py-3 text-gray-900 text-lg font-bold rounded-lg duration-200 ease-in-out">Skills</a>
            <a href="#" class="shadow-none hover:shadow-s px-4 md:px-5 py-2 md:py-3 text-gray-900 text-lg font-bold rounded-lg duration-200 ease-in-out">Social Media</a>
        </div>
        <div class="flex justify-center items-center nm:hidden shadow-none activ:shadow-s px-3 py-3 text-gray-900 text-lg font-bold rounded-full duration-200 ease-in-out cursor-pointer" id="nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6" id="nav-icon-open">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 hidden" id="nav-icon-close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
    </div>
    <div class="min-w-[270px] absolute top-0 left-0 h-screen w-screen bg-blue-50 nm:hidden border-t-1 border-gray-900 hidden" id="nav-menu">
        <div class="nm:container nm:mx-auto gap-2 px-5 py-5 flex flex-col w-full">
            <a href="#" class="shadow-none activ:shadow-s px-5 py-3 text-gray-900 flex flex-row gap-4 justify-between w-full text-lg font-bold rounded-lg duration-200 ease-in-out" id="nav-link">
                Home
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>                  
            </a>
            <a href="#" class="shadow-none activ:shadow-s px-5 py-3 text-gray-900 flex flex-row gap-4 justify-between w-full text-lg font-bold rounded-lg duration-200 ease-in-out" id="nav-link">
                About
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>   
            </a>
            <a href="#" class="shadow-none activ:shadow-s px-5 py-3 text-gray-900 flex flex-row gap-4 justify-between w-full text-lg font-bold rounded-lg duration-200 ease-in-out" id="nav-link">
                Skills
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>   
            </a>
            <a href="#" class="shadow-none activ:shadow-s px-5 py-3 text-gray-900 flex flex-row gap-4 justify-between w-full text-lg font-bold rounded-lg duration-200 ease-in-out" id="nav-link">
                Social Media
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>   
            </a>
        </div>
    </div>
</header>
<script src="../scripts/header.js">