<section class="min-h-screen w-full py-7 md:py-9 flex xl:grid flex-col-reverse sm:flex-row xl:grid-cols-2 justify-between items-center gap-6 md:gap-5" id="section?home">
    <div class="flex flex-col gap-2 md:gap-5 lg:gap-6 xl:gap-7 justify-center">
        <h6 class="text-gray-400 text-lg md:text-xl font-normal uppercase">welcome to my portfolio</h6>
        <h1 class="text-gray-900 text-4xl md:text-5xl font-bold">Hi, I'm <br class="xl:hidden"><b class="text-blue-400 break-keep">Pavel Sheludko</b><br>or <b class="text-red-400 break-keep">CodeCat6128</b></h1>
        <p class="text-gray-400 mt-3 md:mt-0 text-base md:text-lg font-normal max-w-[512px]">I specialize in developing the Front-End part of websites using different frameworks or pure HTML/CSS.  I'm also a game developer using Unity/C#.  I have extensive experience working in a team and organizational skills.</p>
        <div class="flex flex-row gap-4 mt-5 xl:mt-7">
            <a href="mailto:sp6835317@gmail.com" target="_blank" class="px-4 md:px-5 py-3 md:py-4 bg-gray-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out text-gray-900 font-bold text-sm md:text-lg">Contact Me</a>
            <a href="https://www.linkedin.com/in/pavel-sheludko-77a039237" target="_blank" class="px-4 md:px-5 py-3 md:py-4 bg-gray-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out text-gray-900 font-bold text-sm md:text-lg">LinkedIn</a>
        </div>
    </div>
    <div class="flex sm:hidden lg:flex justify-center xl:w-6/6 items-center">
        <img src="/hero-image.png" alt="Logo" class="lg:max-h-[500px] shadow-bottom rounded-3xl">
    </div>
</section>