<section class="min-h-screen w-full py-9 flex xl:grid flex-col-reverse lg:flex-row xl:grid-cols-2 justify-between items-center gap-5">
    <div class="flex flex-col gap-7 justify-center">
        <h6 class="text-gray-400 text-xl font-normal uppercase">welcome to my portfolio</h6>
        <h1 class="text-gray-900 text-5xl font-bold">Hi, I'm <br class="2xl:hidden"><b class="text-blue-400 break-keep">Pavel Sheludko</b><br>or <b class="text-red-400 break-keep">CodeCat6128</b></h1>
        <p class="text-gray-400 text-lg font-normal max-w-[512px]">I specialize in developing the Front-End part of websites using different frameworks or pure HTML/CSS.  I'm also a game developer using Unity/C#.  I have extensive experience working in a team and organizational skills.</p>
        <div class="flex flex-row gap-4 mt-7">
            <a href="mailto:sp6835317@gmail.com" target="_blank" class="text-gray-900 text-lg font-semibold px-5 py-4 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">Contact Me</a>
            <a href="" target="_blank" class="text-gray-900 text-lg font-semibold px-5 py-4 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-full duration-200 ease-in-out">CV</a>
        </div>
    </div>
    <div class="flex justify-center xl:w-6/6 items-center">
        <img src="/public/hero-image.png" alt="Logo" class="max-h-[500px] shadow-bottom rounded-3xl">
    </div>
</section>