<section class="relative h-screen max-h-[900px] sm:max-h-[700px] nm:max-h-[650px] md:max-h-[700px] lg:max-h-[900px] mc:min-h-[820px] nm:min-h-[580px] md:min-h-[610px] lg:min-h-[680px] w-full pb-16 lg:pb-32 pt-[96px] nm:pt-[120px] lg:pt-[170px] flex box-border" id="home">
    <div class="relative min-w-[256px] nm:container nm:mx-auto w-full sm:h-min nm:h-full gap-6 sm:gap-0 sm:my-auto nm:my-0 px-6 md:px-8 flex flex-col text-left justify-start md:justify-center">
        <img src="/banner-home.svg" alt="Home Banner" class="sm:absolute mt-4 sm:mt-0 ml-auto sm:right-0 w-full sm:w-4/6 nm:w-3/6 md:w-1/2 xl:w-auto xl:h-full nm:min-h-none max-h-[220px] nm:max-h-none sm:top-0 nm:top-auto nm:bottom-0">
        <h1 class="inline text-black font-light text-3xl md:text-5xl leading-snug sm:order-1">
            Hello I’am&nbsp;<br class="sm:hidden"><b class="font-bold lg:font-extrabold">Pavel Sheludko.</b><br>
            <b class="font-bold lg:font-extrabold typer leading-snug" id="main" data-words="Frontend,Game,3D" data-delay="100" data-deleteDelay="3500">Frontend</b>&nbsp;
            <b class="hidden lg:inline font-extrabold text-white leading-snug" 
               style="text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;">
               Developer</b>
            <b class="inline lg:hidden font-extrabold text-white leading-snug" 
               style="text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;">
               Developer</b>
            <br>Based In&nbsp;<b class="font-bold lg:font-extrabold leading-snug">Germany.</b>
        </h1>
        <span class="text-zinc-500 max-w-96 lg:max-w-[480px] xl:max-w-[600px] sm:mt-20 nm:mt-8 font-normal text-base sm:order-3 nm:order-2">
            Game and Frontend Developer with expertise in frameworks like Tailwind, Bootstrap, Astro, Node.js, React.js, and more. Proficient in Unity and Unreal Engine, skilled in C#, JavaScript, TypeScript, and PHP. Strong background in Project Management and team leadership, eager to learn new technologies and programming languages.
        </span>
        <div class="nm:absolute nm:left-[32px] bottom-[-24px] lg:bottom-[-30px] sm:mt-8 nm:mt-0 flex flex-row gap-5 sm:gap-4 nm:gap-6 lg:gap-8 sm:order-2">
            <a href="https://instagram.com/codecat6128" target="_blank" class="flex justify-center items-center border-[2.3px] xl:border-[3px] border-black w-[50px] lg:w-[60px] h-[50px] lg:h-[60px] hover:fill-black bg-black hover:bg-white fill-white rounded-md duration-200 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-6 lg:h-7" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
            </a>
            <a href="https://www.linkedin.com/in/codecat6128" target="_blank" class="flex justify-center items-center border-[2.3px] xl:border-[3px] border-black w-[50px] lg:w-[60px] h-[50px] lg:h-[60px] hover:fill-white bg-white hover:bg-black fill-black rounded-md duration-200 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-6 lg:h-7" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
            </a>
            <a href="https://x.com/SheludkoPavel" target="_blank" class="flex justify-center items-center border-[2.3px] xl:border-[3px] border-black w-[50px] h-[50px] lg:w-[60px] lg:h-[60px] hover:fill-white bg-white hover:bg-black fill-black rounded-md duration-200 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-6 lg:h-7" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
            </a>
            <a href="mailto:sp6835317@gmail.com" target="_blank" class="flex justify-center items-center border-[2.3px] xl:border-[3px] border-black w-[50px] h-[50px] lg:w-[60px] lg:h-[60px] hover:fill-white bg-white hover:bg-black fill-black rounded-md duration-200 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-6 lg:h-7" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/></svg>
            </a>
        </div>
    </div>
</section>
<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>