<section class="my-9 flex flex-col lg:flex-row gap-5 relative z-0">
    <div class="absolute top-[-200px]" id="section?works" />
    <h1 class="text-gray-900 text-4xl font-bold lg:w-full">Works</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-5 w-full">
        <a href="https://www.ravildsgn.com/" target="_blank" class="cursor-no-drop flex flex-row justify-between items-center px-5 py-4 gap-3 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">
            <img src="/spgames-favicon.png" alt="SP GAMES ICON" class="w-6 rounded-full">
            <h6 class="text-gray-900 font-bold text-xl">SPG</h6>
        </a>
        <a href="https://www.ravildsgn.com/" target="_blank" class="cursor-pointer flex flex-row justify-between items-center px-5 py-4 gap-3 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">
            <img src="public/rdsgn-favicon.png" alt="RDSGN ICON" class="w-6 rounded-full">
            <h6 class="text-gray-900 font-bold text-xl">RDSGN</h6>
        </a>
        <a target="_blank" class="cursor-no-drop flex flex-row justify-between items-center px-5 py-4 gap-3 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">
            <img src="/irt-favicon.png" alt="IRT ICON" class="w-6">
            <h6 class="text-gray-900 font-bold text-xl">IRT</h6>
        </a>
        <a href="https://meetnubi.io/" target="_blank" class="cursor-pointer flex flex-row justify-between items-center px-5 py-4 gap-3 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">
            <img src="/nubi-favicon.ico" alt="NUBI ICON" class="w-6 rounded-full">
            <h6 class="text-gray-900 font-bold text-xl">NUBI</h6>
        </a>
        <a href="https://www.t7tlabs.com/" target="_blank" class="cursor-pointer flex flex-row justify-between items-center px-5 py-4 gap-3 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">
            <img src="/t7t-favicon.jpg" alt="T7T ICON" class="w-6 rounded-full">
            <h6 class="text-gray-900 font-bold text-xl">T7T</h6>
        </a>
    </div>
</section>