---
import Work from '../elements/Work.astro';
import WorkRight from '../elements/WorkRight.astro';
---

<section class="w-full py-[60px] bg-black" id="works">
    <div class="min-w-[256px] nm:container nm:mx-auto w-full px-4 md:px-8 py-5 md:py-6 flex flex-col text-center items-center justify-center gap-y-24">
        <h2 class="text-white font-normal text-4xl lg:text-5xl leading-snug">My&nbsp;<b class="font-extrabold">Works</b></h2>
        <div class="flex flex-col gap-6 nm:gap-y-40 w-full justify-center">
            <Work index='01' title='My Photography Website' link='/photography' imageurl='/'>
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.
            </Work>
            <WorkRight index='02' title='My Works in 3D' link='/3d' imageurl='/'>
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.
            </WorkRight>
            <Work index='03' title='Ravil DSGN Portfolio' link='https://www.ravildsgn.com/' imageurl='/'>
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.
            </Work>
            <WorkRight index='04' title='Meet Nubi Website' link='https://meetnubi.io/' imageurl='/'>
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.
            </WorkRight>
        </div>
    </div>
</section>