<section class="relative min-w-[256px] nm:container nm:mx-auto px-6 md:px-8 h-screen max-h-none nm:max-h-[610px] md:max-h-[600px] lg:max-h-[740px] xl:max-h-screen nm:min-h-[560px] md:min-h-[510px] lg:min-h-[680px] w-full grid grid-cols-5 box-border" id="home">
    <div class="h-full col-span-3 flex flex-col justify-center">
        <h1 class="text-black font-normal text-2xl nm:text-4xl lg:text-5xl leading-snug">
            I’am&nbsp;<b class="font-extrabold">Pavel Sheludko.</b><br>
            From&nbsp;<b class="font-extrabold leading-snug">New York.</b>
        </h1>
        <span class="text-zinc-500 max-w-96 lg:max-w-[480px] xl:max-w-[600px] mt-8 font-normal text-sm lg:text-base">Architecture & Nature Photographer</span>
    </div>
</section>
<div class="absolute right-0 top-0 w-[40vw] min-w-[500px] h-screen bg-[url('/public/photos/hero.webp')] bg-cover bg-center z-50" />