---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description}>
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
		<title>{title}</title>
		<style>
			body {
				font-family: "Sora", sans-serif;
				font-optical-sizing: auto;
			}
		</style>
	</head>
	<body class="relative bg-white w-screen min-w-[256px] max-w-screen min-h-screen h-fit duration-200 subpixel-antialiased overflow-x-hidden">
		<slot />
	</body>
</html>